<ion-view >
  <ion-content class="has-header">
  <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>

</div>
    <table class = "table">
      <thead>
      <tr>
         <th>NAME</th>
         <th>AGE</th>
         <th>GENDER</th>
         <th>LOCATION</th>
         <th>Mobile</th>
         <th>Email</th>
         <th>GuardianName</th>
         <th>GuardianMobile</th>
         <th>GuardianEmail</th>
      </tr>
   </thead>

   <tbody>
      <tr class = "active">
         <td>patient1</td>
         <td>23/11/2013</td>
         <td>Pending</td>
            <td>data1</td>
            <td>data1</td>
            <td>data1</td>
            <td>data1</td>
            <td>data1</td>
            <td>data1</td>
      </tr>

      <tr class = "success">
         <td>Patient2</td>
         <td>10/11/2013</td>
         <td>Delivered</td>
         <td>data2</td>
         <td>data2</td>
          <td>data2</td>
           <td>data2</td>
            <td>data2</td>
             <td>data2</td>
      </tr>

      <tr class = "warning">
         <td>patient3</td>
         <td>20/10/2013</td>
         <td>In Call to confirm</td>
          <td>data3</td>
          <td>data3</td>
          <td>data3</td>
          <td>data3</td>
          <td>data3</td>
          <td>data3</td>
      </tr>

      <tr class = "danger">
         <td>patient4</td>
         <td>20/10/2013</td>
         <td>Declined</td>
         <td>data4</td>
         <td>data4</td>
         <td>data4</td>
         <td>data4</td>
         <td>data4</td>
         <td>data4</td>
      </tr>
   </tbody>

</table>
  </ion-content>
</ion-view>
