<ion-view >

           <ion-content ng-controller="chartCtrl" class="has-header chart_content jumbotron">
             <div class="row">
               <div google-chart chart="chartObject" class="chart-container">
               </div>
               <div google-chart chart="chartObject" class="chart-container">
               </div>
               <div google-chart chart="chartObject" class="chart-container">
               </div>
                  <div google-chart chart="chartObject" class="chart-container">
                 </div>
             </div>
           </ion-content>
         </ion-view>
