
<div class="bar bar-header bar-positive">
  <h1 class="title">DashBoard</h1>
    <div menu-toggle="left" class="button button-icon-left icon ion-navicon" ng-click="toggleLeft()" ></div>
</div>
<ion-pane class="has-header">
<div class="row">
<div class="col-10">
  <h1>Hi</h1>
  sdf
</div>
<div class="col-80">
<ion-tabs class="tabs-background-positive tabs-color-light">
  <ion-tab title="Summary" class="chart_tab" href="#/tab/charts">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Patient" class="pat_tab"  href="#/tab/dash">
    <ion-nav-view class="jumbotron" name="tab-dash"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Test" class="acc_tab"  href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Packages" class="acc_tab"  href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Revenue" class="acc_tab"  href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Referrals" class="acc_tab"  href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Comments" class="acc_tab"  href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
</div>
</div>
<ion-pane>
